.fondo{
    background-image: url("../img/chef.jpg");
    padding: 25%;
    background-attachment: fixed;
}
.letra{
    color: yellow;
    font-size:500px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.fondoreserva {
    background-image: url(../img/banner4.jpg);
    padding: 25%;
    background-attachment: fixed;
    position: relative;
    z-index:1;
}

.fondoreserva::after{
    position: absolute;
    content: "";
    background-color: black;
    color: antiquewhite;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}
